body{
	font-family: lato, sans-serif;
}
#sec-con-bg{
background-color: #EFFAFF;
}
#darkblue{
	background-color: #27AAE2;
}
#email{
	margin-left: 320px;
}
.btn-lg{
	margin-left: 10px;
}

